.header-web {
    background-color:brown;

    a{
        color: white !important;
    }

    .active {
        background-color: transparent !important;
    }

    a.dropdown-item:hover {
        background-color: transparent !important;
    }

    .show {
        background-color:brown !important
    }
    
}   